@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Lato";
}

:root {
  --primary-color: #0076a7;
  --black-color: #000000;
  --secondary-black-color: #8e8e8e;
  --white-color: #ffffff;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
  overflow-x: hidden;
  //   background-image: url("../public/homebackground.svg");
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.outlet {
  background-image: url("../public/homebackground.svg");
  padding: 110px 0;
}

.app__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__flex-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.app__flex-4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app__flex-5 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.column-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-size {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.p-text {
  font-weight: 400;
  font-size: 16px;
}

.p-text-2 {
  font-size: 16px;
  font-weight: 400;
  color: #8e8e8e;
  text-align: center;
  line-height: 24px;
  max-width: 348px;
}

.head-text {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}

.primary-btn {
  width: 100%;
  height: 62px;
  background: var(--primary-color);
  border-radius: 8px;
  border: none;

  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: #368fb4;
  }

  &:disabled,
  &[disabled] {
    background-color: #cbe4ee;
    color: #a9bec7;
  }
}

.secondary-btn {
  width: 100%;
  height: 62px;
  background: none;
  border-radius: 8px;
  border: 2px solid var(--primary-color);

  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: #bde0ef;
    border: 2px solid #0076a7;
    color: #0076a7;
  }

  &:disabled,
  &[disabled] {
    background-color: #92aeb9;
    border: 1.5px solid #92aeb9;
    color: #a3bcc7;
  }
}

.test {
  border: 1px solid red;
}

.test1 {
  border: 1px solid blue;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: #ffffff;

  padding: 0 100px;

  & > div:nth-child(1) {
    gap: 7px;
    p {
      color: var(--primary-color);
      font-weight: 600;
    }
  }

  & > div:nth-child(2) {
    button {
      color: var(--white-color);
      background: var(--primary-color);
      border: none;
      outline: none;
      border-radius: 8px;
      width: 148px;
      height: 62px;
      cursor: pointer;
    }
  }
}

.modal {
  padding: 72px 40px 37px;
  width: 45%;
  border-radius: 8px;
  background: var(--white-color);

  .modal-btn {
    width: 400px;
    gap: 20px;
  }

  .progress {
    width: 400px;

    p {
      width: 40px;
      height: 40px;
      border-radius: 50%;

      font-size: 16px;
      font-weight: 400;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .filled {
      background-color: var(--primary-color);
      color: var(--white-color);
    }

    .dense {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }
  }

  .error-span {
    color: #ee0e0e;
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    width: 400px;
  }

  .error {
    margin-bottom: 0 !important;

    .input-error {
      border: 1px solid red;
      color: red;
    }
  }

  .offscreen {
    display: none;
  }

  .modal-input {
    width: 400px;
    height: 58px;
    margin-bottom: 20px;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      border: 1px solid #b2b2b2;
      padding-left: 20px;
      padding-right: 10%;
      outline: none;
    }

    img {
      position: absolute;

      right: 17px;
      top: 50%;
      transform: translateY(-50%);
    }

    svg {
      position: absolute;
      width: 24px;
      height: 24px;
      color: var(--secondary-black-color);

      right: 2%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .modal-colors {
    width: 400px;

    img {
      cursor: pointer;
    }
  }

  .modal-images {
    width: 502px;
    gap: 20px;
    flex-wrap: wrap;

    img {
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .modal-grid {
    width: 441px;
    column-gap: 4px;
    row-gap: 7px;
    flex-wrap: wrap;

    img {
      cursor: pointer;
    }
  }

  .modal-footer {
    width: 100%;

    p {
      font-size: 16px;
      font-weight: 700;
      color: #626262;
    }
  }
}

.homepage {
  height: 100vh;
}

.dashboard {
  padding: 192px 0;
  color: #ffffff;

  h6 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 12px;
  }

  h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 39px;
  }

  button {
    width: 400px;
    height: 62px;
    border: 2px solid var(--white-color);
    border-radius: 8px;
    background: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
    cursor: pointer;
  }
}

@media screen and (max-width: 998px) {
  .outlet {
    padding: 50px 0;
  }

  .modal {
    width: 60%;

    .modal-btn {
      width: 100%;
    }

    .progress {
      width: 100%;

      div {
        width: 55%;

        img {
          width: 80%;
        }
      }
    }

    .error-span {
      width: 100%;
    }

    .modal-input {
      width: 100%;

      input {
        max-width: 100%;
      }
    }

    .modal-colors {
      width: 100%;
    }

    .modal-images {
      width: 100%;
      gap: 20px;
      justify-content: center;

      img {
        width: 104px;
        height: 60px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 40px;
  }
  .modal {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    height: 60px;
    padding: 0 20px;

    div {
      img {
        width: 30px;
        height: 30px;
      }

      button {
        height: 40px !important;
        width: 40px;
      }
    }
  }

  .outlet {
    padding: 5px 0;
  }

  .main {
    overflow-y: scroll;
    align-items: flex-start;
    justify-content: center;
  }

  .modal {
    padding: 72px 20px 37px;
    margin: 25px 0;
    width: 95%;

    h1 {
      text-align: center;
    }

    .progress {
      width: 100%;
      img {
        width: 20%;
      }

      div {
        img {
          width: 50%;
        }
      }
    }

    .modal-grid {
      width: 100%;
      max-width: 350px;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  .dashboard {
    padding: 100px 0;
    justify-content: flex-start;

    button {
      width: 80%;
    }
  }
}
